.intro {
	margin-top: 10px;
}

.radioContent {
	margin-left: 25px;
}

.radioContent img {
	vertical-align: bottom;
}

.help {
	font-size: 10px;
	font-weight: normal;
}

img.preview {
	cursor: pointer;
}