<wicket:panel>
	<div class="label">
		<span wicket:id="number"/><span wicket:id="label"/><span class="help-toggle" wicket:id="helpToggle"/> <a href="#" wicket:id="addComment"><wicket:message key="AddComments" /></a>		
	</div>
	<span class="help" wicket:id="help"/>			
    <div wicket:id="addCommentModal" ></div>
	<div class="instructions" wicket:id="instructions"/>
	<div class="caption" wicket:id="caption"/>
	<div class="categories" wicket:id="content" />
	<br>
	<div class="specifications" wicket:id="specifications"/>
</wicket:panel>

