<wicket:panel>
	<div class="label">
		<span wicket:id="number"/><span wicket:id="label"/><span wicket:id="comment-action" class="comment-add"><a href="#" tabindex="-1" wicket:id="addComment">&nbsp;&nbsp;&nbsp;&nbsp;</a></span><span class="help-toggle" wicket:id="helpToggle"/> 		
	</div>
	<div class="help" wicket:id="help"/>			
    <div wicket:id="addCommentModal" ></div>
	<div class="instructions" wicket:id="instructions"/>
	<div class="caption" wicket:id="caption"/>
	<div class="categories" wicket:id="content" />
	<div class="specifications" wicket:id="specifications"/>
</wicket:panel>

