<wicket:panel>
	<div class="label">
		<span wicket:id="number"/><span wicket:id="label"/>
	</div>
	<div class="help-toggle" wicket:id="helpToggle"/>
	<div class="help" wicket:id="help"/>
	<div class="instructions" wicket:id="instructions"/>
	<div class="caption" wicket:id="caption"/>
	<div class="categories">
		<span wicket:id="categories">
			<div wicket:id="category" class="category">
       			<label wicket:id="categoryLabel">
    				<span wicket:id="input"/>
       				<span wicket:id="label"/>
       			</label>
       			<span wicket:id="open"/>
       		</div>
       	</span>
	</div>
</wicket:panel>
<wicket:fragment wicket:id="radioInput">
	<input type="radio" wicket:id="radio"/>
</wicket:fragment>
<wicket:fragment wicket:id="checkboxInput">
	<input type="checkbox" wicket:id="checkbox"/>
</wicket:fragment>

