<wicket:panel>
	<div class="question">
		<div class="label">
			<span wicket:id="number"/><span wicket:id="label"/>
		</div>
		<div class="instructions">
			<span wicket:id="instructions"/>
		</div>
		<div class="caption">
			<span wicket:id="caption"/>
		</div>
		<div class="categories">
			<span wicket:id="categories">
				<div wicket:id="category" class="category">
        			<label wicket:id="categoryLabel">
        				<span wicket:id="input"/>
           				<span wicket:id="label"/>&nbsp;
           				<span wicket:id="open"/>
           			</label>
        		</div>
        	</span>
		</div>
	</div>
</wicket:panel>
<wicket:fragment wicket:id="radioInput">
	<input type="radio" wicket:id="radio"/>
</wicket:fragment>
<wicket:fragment wicket:id="checkboxInput">
	<input type="checkbox" wicket:id="checkbox"/>
</wicket:fragment>