<wicket:panel>
	<div>
		<span wicket:id="label"/>
	</div>
	<div>
		<span wicket:id="instructions"/>
	</div>
	<table>
		<tr>
			<td><span wicket:id="caption"/></td>
		</tr>
		<tr>
			<td style="width: 300px;">
				<span wicket:id="categories">
					<span wicket:id="category">
            			<label wicket:id="categoryLabel">
            				<input type="radio" wicket:id="radio"/>
                			<span wicket:id="label"/>&nbsp;
                			<span wicket:id="open"/>
                		</label>
            		</span>
        		</span>
        	</td>
		</tr>
	</table>
</wicket:panel>