<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <import resource="classpath:/META-INF/spring/remote-api-server.xml" />

  <bean id="hibernateCacheConfig" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="properties">
      <value>
        <![CDATA[
          hibernate.generate_statistics true
          hibernate.cache.use_structured_entries true
          hibernate.cache.use_query_cache=true
          hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
        ]]>
      </value>
    </property>
  </bean>

  <!-- These are mutualy exclusive (each defines a dataSource bean) -->
  <import resource="hsql-datasource.xml" />
  <!--import resource="mysql-datasource.xml" /-->

  <!-- Import Jade's core context -->
  <import resource="classpath:META-INF/spring/context.xml" />

</beans>
