.content {
	border-top: 0.0833em dotted #666666;;
}

.edition {
	float: none;
	width: 1000px;
}

.edition .tree {
	float: left;
	width: 400px;
	height: 600px;
	overflow: auto;
}

.edition .properties {
	width: 650px;
	height: 600px;
	overflow: auto;
	padding-left: 10px;
}

.edition .topMenu {
	float: right;
}

.edition .topMenu a {
	padding: 0 5px;
}

.edition .topMenu a img {
	
}

.edition .titleIcon {
	margin-right: 3px;
	vertical-align: bottom;
}