/*
* Default Questionnaire elements stylesheet.
*/
div.page {
	
}

div.page div.section {
	text-align: center;
	padding-bottom:10px;
	padding-top:10px;
}

div.page div.label {

}

div.page div.questions {
	padding-bottom:10px;
}

div.page div.questions div.boilerplate {
}

div.page div.questions div.question {
}

div.page div.questions div.question div.label {
	font-weight: bold;
	padding-bottom:5px;
	padding-top:5px;
}

div.page div.questions div.question span.help-toggle {
	background: url(../images/icons/16X16/help2.gif) no-repeat;
	margin-left: 10px;
	text-decoration: none;
}

div.page div.questions div.question div.help {
	padding:5px;
	margin-top:5px;
	background-color:#F0F0F0;
	border:1px solid #BBBBBB;
}

div.page div.questions div.question div.instructions {
	font-style: italic;
	font-size: smaller;
	padding-bottom:5px;
}

div.page div.questions div.question div.caption {
	padding-left:15px;
	padding-bottom:5px;
}

div.page div.questions div.question div.categories {
	
}

div.page div.question div.categories div.category {
	padding-left:15px;
	padding-bottom:5px;
}