/*
* Default Questionnaire elements stylesheet.
*/
div.page {
	
}

div.page div.section {
	text-align: center;
	padding-bottom:10px;
	padding-top:10px;
}

div.page div.label {

}

div.page div.questions {
	padding-bottom:10px;
}

div.page div.questions div.boilerplate {
}

div.page div.questions div.question {
}

div.page div.questions div.question div.label {
	font-weight: bold;
	padding-bottom:5px;
	padding-top:5px;
}

div.page div.questions div.question span.help-toggle {
	background: url(../images/icons/16X16/help2.gif) no-repeat;
	margin-left: 5px;
}

div.page div.questions div.question span.comment-edit {
	background: url(../images/icons/16X16/message_edit.gif) no-repeat;
	margin-left: 10px;
}

div.page div.questions div.question span.help-toggle a:hover {
	text-decoration: none;
}

div.page div.questions div.question div.help {
	padding:5px;
	margin-top:5px;
	background-color:#F0F0F0;
	border:1px solid #BBBBBB;
}

div.page div.questions div.question div.instructions {
	font-style: italic;
	font-size: smaller;
	padding-bottom:5px;
}

div.page div.questions div.question div.caption {
	padding-left:15px;
	padding-bottom:5px;
}

div.page div.questions div.question div.specifications {
	font-size: smaller;
	padding-bottom:5px;
	padding-top:5px;
}

div.page div.questions div.question div.categories {
	padding-left:15px;
}

table.array {
	padding-bottom:5px;
}

table.array tr.headers th.category {
	background-color:#E1E3E5;
	border-bottom:1px solid #FFFFFF;
	color:#666666;
	padding:10px;
	font-weight: normal;
	text-align:center;
}

table.array tr.even {
	background-color:#FFFFFF;
	color:#666666;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}

table.array tr.odd {
	background-color:#E1E3E5;
	border-bottom:1px solid #FFFFFF;
	color:#666666;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}

table.array td.label {
	background-color:#F1E0AD;
	color:#666666;
	padding-left:5px;
	padding-right:5px;
	font-weight: bold;
	text-align:left;
}

div.page div.question div.categories div.category {
	padding-bottom:5px;
}

.radio-open {
	display: none;
}