<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:/onyx.properties"/>
  </bean>

  <bean id="versionObject" class="org.obiba.runtime.Version">
    <constructor-arg value="${org.obiba.onyx.version}" />
  </bean>
  
  <bean id="applicationBean" class="org.obiba.onyx.webapp.OnyxApplication" scope="singleton">
    <property name="userService" ref="userService" />
    <property name="version" ref="versionObject"/>
  </bean>

  <bean id="testDatabaseSeed" class="org.obiba.onyx.webapp.seed.TestDatabaseSeed" scope="singleton">
    <property name="resourcePatterns">
      <list>
        <value>classpath:/appConfiguration.xml</value>       
      </list>
    </property>
    <property name="developmentSeed" value="true" />
    <property name="persistenceManager" ref="persistenceManager" />
  </bean>  

  <bean id="onyxApplicationStartupListener" class="org.obiba.wicket.util.seed.DatabaseSeedWebApplicationStartupListener"
    scope="singleton">
    <property name="databaseSeeds">
      <list>
        <ref bean="testDatabaseSeed" />
        <ref bean="jadeDatabaseSeed" />
      </list>
    </property>
  </bean>
  
  <bean id="participantReader" class="org.obiba.onyx.cartagene.etl.participant.ParticipantExcelReader" scope="prototype">
    <property name="startAtLine" value="3" />
  </bean>
  
  <bean id="messageSource" 
    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>classpath:config/Stage</value>
        <value>classpath:config/ParticipantInterview</value>
        <value>classpath:config/JadeStageState</value>
        <value>classpath:config/MarbleStageState</value>
        <value>classpath:config/MicaStageState</value>
        <value>classpath:config/QuartzStageState</value>
        <value>classpath:config/InstrumentParameter</value>
        <value>classpath:config/ContraIndication</value>
        <value>instruments/interface-height/InstrumentParameter</value>
        <value>instruments/interface-sitting-height/InstrumentParameter</value>
        <value>instruments/interface-hipsandwaistsize/InstrumentParameter</value>
        <value>instruments/interface-blood-pressure/InstrumentParameter</value>
        <value>instruments/interface-musclestrength/InstrumentParameter</value>
        <value>instruments/interface-musclestrength/ContraIndication</value>
        <value>instruments/interface-weight/InstrumentParameter</value>
        <value>instruments/interface-arterialstiffness-sphygmocor/InstrumentParameter</value>
        <value>instruments/interface-bioimpedance-tanita-tbf310/InstrumentParameter</value>
        <value>instruments/interface-bioimpedance-tanita-tbf310/ContraIndication</value>
        <value>instruments/interface-bonedensity-achillesexpress/InstrumentParameter</value>
        <value>instruments/interface-bonedensity-achillesexpress/ContraIndication</value>
        <value>instruments/interface-ecg-cardiosoft/InstrumentParameter</value>
        <value>instruments/interface-spirometry-minispir/InstrumentParameter</value>
        <value>instruments/interface-spirometry-minispir/ContraIndication</value>
        
        <value>WEB-INF/config/ruby/language-common</value>
        <value>WEB-INF/config/ruby/language</value>
      </list>
    </property>
  </bean>
  
  <bean id="userSessionService"
    class="org.obiba.onyx.webapp.service.impl.UserSessionServiceImpl">

    <!-- NOTE: Uncomment declaration below if this service is injected into a singleton bean. -->
    <!-- <aop:scoped-proxy /> -->
  </bean>
  
  <bean id="propertyKeyProvider" class="org.obiba.onyx.quartz.core.engine.questionnaire.util.localization.impl.DefaultPropertyKeyProviderImpl" scope="prototype" />
  
  <bean id="questionnaireBundleManager"
    class="org.obiba.onyx.quartz.core.engine.questionnaire.bundle.impl.QuestionnaireBundleManagerImpl">
    <constructor-arg value="questionnaires" />
    <property name="propertyKeyProvider" ref="propertyKeyProvider" />
  </bean>
  
  <bean id="tubeRegistrationConfiguration" class="org.obiba.onyx.ruby.core.domain.TubeRegistrationConfiguration">
    <constructor-arg value="WEB-INF/config/ruby" />
    
    <!-- TEST -->
    <property name="barcodeStructure">
      <bean class="org.obiba.onyx.ruby.core.domain.BarcodeStructure">
        <property name="parsers">
          <list>
            <!--  Participant Code Parser -->
            <bean class="org.obiba.onyx.ruby.core.domain.parser.impl.ParticipantCodeBarcodePartParser">
              <property name="activeInterviewService" ref="activeInterviewService" />
              <property name="size" value="7" />
            </bean>
            <!--  Tube Type Parser -->
            <bean class="org.obiba.onyx.ruby.core.domain.parser.impl.RandomDigitsBarcodePartParser">
              <property name="size" value="2" />
              <property name="format" value=".*" />
              <property name="partTitle">
                <bean class="org.springframework.context.support.DefaultMessageSourceResolvable">
                  <constructor-arg value="Ruby.BarcodePartColumn.TubeType" />
                </bean>
              </property>
            </bean>
            <!--  Sequence No. Parser -->
            <bean class="org.obiba.onyx.ruby.core.domain.parser.impl.RandomDigitsBarcodePartParser">
              <property name="size" value="1" />
              <property name="format" value=".*" />
            </bean>
          </list>
        </property>
      </bean>
    </property>
  </bean>
  
</beans>
