<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <import resource="classpath:/META-INF/spring/remote-api-server.xml" />
  
  <import resource="hibernate.xml" />

  <!-- These are mutualy exclusive (each defines a dataSource bean) -->
  <import resource="hsql-datasource.xml" />
  <!--import resource="mysql-datasource.xml" /-->


  <!-- Import Onyx and modules core context -->
  <import resource="classpath:META-INF/spring/onyx-core/context.xml" />
  <import resource="classpath:META-INF/spring/jade-core/context.xml" />
  <import resource="classpath:META-INF/spring/marble-core/context.xml" />
  <import resource="classpath:META-INF/spring/quartz-core/context.xml" />
  <import resource="classpath:META-INF/spring/mica-core/context.xml" />
  
  <import resource="beans.xml" />

</beans>
