<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- Loads the configuration properties. These are used throughout the spring context files to configure the deployment -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/onyx.properties</value>
        <value>WEB-INF/config/onyx-config.properties</value>
        <value>WEB-INF/config/*/module-config.properties</value>
      </list>
    </property>
  </bean>

  <import resource="hibernate.xml" />

  <!-- These are mutualy exclusive (each defines a dataSource bean) -->
  <import resource="hsql-datasource.xml" />
  <!--import resource="mysql-datasource.xml" /-->

  <!-- Import Onyx and modules core context -->
  <import resource="classpath:META-INF/spring/onyx-core/context.xml" />

  <import resource="beans.xml" />

</beans>
