.explain {
	margin-top: -1.667em;
}

.explain li {
	margin-bottom: 0.667em;
}

.explain .title {
	font-weight: bold;
}

.explain .section {
	background: transparent url('${sectionImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 0.083em 0 0.083em 1.667em;
}

.explain .page {
	background: transparent url('${pageImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 0.083em 0 0.083em 1.667em;
}

.explain .question {
	background: transparent url('${questionImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 0.083em 0 0.083em 1.667em;
}

.explain .variable {
	background: transparent url('${variableImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 0.083em 0 0.083em 1.667em;
}

.questionTypeList img {
	vertical-align: bottom;
	cursor: pointer;
}