a.removeLink{
	background-image:url(../../images/icons/24X24/delete.gif);
	width: 24px;
	height: 24px;	
	border: none;
	display: block;
}
button.addButton{
	background-image:url(../../images/icons/24X24/add.gif);
	width: 24px;
	height: 24px;
	border: none;
}