<wicket:panel>
	<div class="ui-widget-header obiba-center-vertical-outer ui-corner-top" style="width: 99.9%">
		<div class="obiba-center-vertical-middle"> 
			<div class="obiba-label">
				<span wicket:id="number"/><span wicket:id="label"/><span wicket:id="comment-action" class="comment-add"><a href="#" wicket:id="addComment">&nbsp;&nbsp;&nbsp;&nbsp;</a></span><span class="help-toggle" wicket:id="helpToggle"/>
			</div>
		</div> 		
	</div>			
	<div class="obiba-quartz-help" wicket:id="help"/>			
    <div wicket:id="addCommentModal" ></div>
	<div class="obiba-quartz-instructions" wicket:id="instructions"/>
	<div class="ui-widget-content obiba-center-vertical-outer" style="width: 99.9%">
  		<div class="obiba-center-vertical-middle">  
  			<div class="obiba-center-horizontal">
				<div class="obiba-quartz-caption" wicket:id="caption"/>
				<div class="obiba-quartz-categories" wicket:id="content" />
			</div>
		</div>
	</div>
	<div class="obiba-quartz-specifications" wicket:id="specifications"/>
</wicket:panel>

