<wicket:panel>
	<input type="hidden" wicket:id="hidden" />
	<div wicket:id="openCategories" class="obiba-quartz-open" />
	<div wicket:id="regularCategories" class="obiba-quartz-regular" />
	<div wicket:id="regularImageCategories" class="obiba-quartz-regular-image" />
	<div wicket:id="escapeCategories" class="obiba-quartz-escape"/>
</wicket:panel>
<wicket:fragment wicket:id="openFragment">
	<table>
		<tr>
			<td wicket:id="or" class="obiba-open-separator">
			</td>
			<td wicket:id="open" class="obiba-open-widget">
			</td>
		</tr>
	</table>
</wicket:fragment>