/*/////////////////////////////////////////////////////////////////////
// JQuery Layout
/////////////////////////////////////////////////////////////////////*/

/* disable scrolling only in the North & South panes */
.ui-layout-pane-north ,
.ui-layout-pane-south {
    overflow: hidden !important;
}

/* jquery.layout will change these, but it helps the browser layout things before the jquery call */
.ui-layout-center { 
	position: relative;
}
.ui-layout-north { 
	position: relative;
}
