div.wicket-modal div.onyx .feedback {
  margin-left:-30px;  
  font-weight:bold;  
  font-size:14px;
  overflow: auto;
  height: 63px;
}

.feedbackPanelERROR {
  color:black;
}

div.wicket-modal div.onyx .ui-state-error {
	background-image: url(../icons/error.png);
	background-repeat: no-repeat;
	color:black !important;
	padding-left: 30px;
}

div.wicket-modal div.onyx .ui-state-highlight {
	background-image: url(../icons/info.png);
	background-repeat: no-repeat;
	color:black !important;
	padding-left: 30px;
}

div.wicket-modal div.onyx .ui-state-warning {
	background-image: url(../icons/warning.png);
	background-repeat: no-repeat;
	color: black !important;
	padding-left: 30px;
}

div.wicket-modal div.onyx div.onyx-feedback .separator {
  border-top:1px solid #B7B7B7;
}

div.wicket-modal div.onyx li.feedbackPanelERROR {
  background-image:none;
  padding-left:0px;
  list-style-type:none;
}

div.wicket-modal div.onyx li.feedbackPanelWARNING{
  background-image:none;
  padding-left:0px;
  list-style-type:none;
}

div.wicket-modal div.onyx li.feedbackPanelINFO{
  background-image:none;
  padding-left:0px;
  list-style-type:none;
}

div.wicket-modal div.onyx div.close {
  position: absolute; 
  right: 15px; 
  bottom: 10px; 
}