div.wicket-modal div.onyx .feedbackLine {
  margin-left:1.5em;  
  font-weight:bold;  
  font-size:1.1667em;
  color:black;
  overflow: auto;
}

div.wicket-modal div.onyx .feedback {
  margin-left:-1.5em;
  overflow: auto;
  height: 7em;
}

.feedbackPanelERROR {
  color:black;
}

div.wicket-modal div.onyx .ui-state-error {
	background-image: url(../icons/error.png);
	background-repeat: no-repeat;
	color:black !important;
	padding-left: 2.5em;
	border: none;
	background-color: #ffffff;
	background-position:left center;
}

div.wicket-modal div.onyx .ui-state-highlight {
	background-image: url(../icons/info.png);
	background-repeat: no-repeat;
	color:black !important;
	padding-left: 2.5em;
}

div.wicket-modal div.onyx .ui-state-warning {
	background-image: url(../icons/warning.png);
	background-repeat: no-repeat;
	color: black !important;
	padding-left: 2.5em;
}

div.wicket-modal div.onyx div.onyx-feedback .separator {
  border-top:0.0833em solid #B7B7B7;
}

div.wicket-modal div.onyx li.feedbackPanelERROR {
  background-image:none;
  padding-left:0em;
  list-style-type:none;
}

div.wicket-modal div.onyx li.feedbackPanelWARNING{
  background-image:none;
  padding-left:0em;
  list-style-type:none;
}

div.wicket-modal div.onyx li.feedbackPanelINFO{
  background-image:none;
  padding-left:0em;
  list-style-type:none;
}

div.wicket-modal div.onyx div.close {
  position: absolute; 
  right: 1.2500em; 
  bottom: 0.8333em; 
}