/*************** Generic Modal Window ********************/

div.wicket-modal div.w_content_1 div.header {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
}

div.wicket-modal div.w_content_1 div.footer {
  text-align: center;
  margin-top: 10px;
}

div.wicket-modal {
  //overflow: auto;
}

/*************** Onyx Style Modal Window ********************/

div.modal_footer {
  text-align: right;
  padding-right: 20px;
  padding-top: 9px;
}

div.wicket-mask-dark {
	opacity:0.4 !important;
}

div.wicket-modal div.onyx a.w_close {
  background-position:-45px 45px;
  margin-right: 10px;
  height:25px;
  width:20px;
}

div.wicket-modal div.onyx a.w_close:hover {
  background-position:-72px 45px;
  margin-right: 10px;
  height:25px;
  width:20px;
}

div.wicket-modal div.onyx div.w_caption {
  height:30px;
}

div.wicket-modal div.onyx div.w_content {
	overflow: hidden;
}

div.wicket-modal div.onyx div.w_content_3 {
	border:0px solid #BBBBBB;
}

div.wicket-modal div.onyx div.w_left,
div.wicket-modal div.onyx div.w_right {
  background-image: url('../images/modal/modal-onyx-graph2.png');
  _background-image: url('../images/modal/modal-onyx-graph2.png');
}

div.wicket-modal div.onyx div.w_top,
div.wicket-modal div.onyx div.w_bottom,
div.wicket-modal div.onyx div.w_topLeft,
div.wicket-modal div.onyx div.w_topRight,
div.wicket-modal div.onyx div.w_bottomRight,
div.wicket-modal div.onyx div.w_bottomLeft,
div.wicket-modal div.onyx a.w_close {
  background-image: url('../images/modal/modal-onyx-graph1.png');
  _background-image: url('../images/modal/modal-onyx-graph1.png');
}

div.wicket-modal div.onyx .imagelink { 
  font-family:arial,sans-serif;
  font-size:18px;  
}

div.wicket-modal div.onyx .obiba-content {
  	margin-left:9px;
	margin-right:10px;
	margin-top:7px;
}

div.wicket-modal div.onyx .separator {
  border-top:1px solid #C65F02;
  margin-right:10px;
  margin-left:10px;
}

div.wicket-modal div.onyx span.w_captionText  {
  margin-left:10px;
  margin-top:7px;
  color: #C65F02;
  height:20px;
}

div.wicket-modal div.onyx td.keyValueTableKey {
	width: 25%;
}

div.wicket-modal div.onyx tr.ui-state-disabled td.keyValueTableKey {
	color: #CCCCCC;
}

div.wicket-modal div.onyx td.keyValueTableValue input{
	width: 217px;
}

div.wicket-modal div.onyx td.keyValueTableValue select{
	width: 222px;
}

div.wicket-modal div.onyx .window-action-content {
  	height:349px;
}

div.wicket-modal div.onyx .participant-panel-content {
  	height:486px;
}

div.wicket-modal div.onyx .unlockInterview-panel-content {
  	height:97px;
  	margin-left:12px;
}

div.wicket-modal div.onyx .interview-log-panel-content {
    height:350px;
    width:660px;
    overflow: auto;
    margin-left: 10px;
}

div.wicket-modal div.onyx .add-comment-panel-content {
    height:371px;
    margin-left: 13px;
}

div.wicket-modal div.onyx h2 {
	width:339px;
	margin-left:4px;
}
