/*
* Customized default questionnaire elements stylesheet.
* Use css classes based on questionnaire elements (<questionnaire>-<type>-<name>).
* Use .obiba-lang-* class to customize per questionnaire administration language.
*/

.wizard-content {
  padding-top: 0px;
}

.page {
	padding-top: 10px;
}

.section {
	font-weight: bold;
	font-size: larger;	
	padding-bottom:10px;
}

.page > div.label {
	line-height:1.4;
}

.questions {
	padding-bottom:21px;
	border-bottom: 1px solid #C65F02;
	margin-bottom:7px;
}

.questions:last-child {
	border-bottom: 0px !important;
}

.obiba-quartz-boilerplate {
	font-weight: bold;
	line-height:1.4;
}

.question {	
}

.question > div.label {
	font-weight: bold;
	padding-bottom:5px;
	padding-top:5px;
	text-indent: 10px;
}

.help-toggle {
	background: url(../images/icons/16X16/help2.gif) no-repeat;
	margin-left: 5px;
}

.help-toggle a:hover {
	text-decoration: none;
}

.comment-add {
	background:transparent url(../icons/note_b_add.png) no-repeat scroll center top;
	padding-left:10px;
	padding-right:10px;
}

.comment-edit {
	background:transparent url(../icons/note_b_mod.png) no-repeat scroll center top;
	padding-left:10px;
	padding-right:10px;
}

.comment-edit a:hover {
	text-decoration: none;
}

.existing-comment-edit a:hover {
	text-decoration: none;
}

.help {
	padding:5px;
	margin-top:5px;
	background-color:#F0F0F0;
	border:1px solid #BBBBBB;
}

.instructions {
	font-style: italic;
	padding-bottom:5px;
	text-indent: 10px;
}

.caption {
	padding-left:15px;
	padding-bottom:5px;
}

.specifications {
	padding-bottom:5px;
	padding-top:5px;
	font-style: italic;
	text-indent: 10px;
}

.specifications:before {
    content: "*";
}

.categories {
	//padding-left:15px;
	padding-top:10px;
	padding-bottom:3px;
	border-top:1px solid #C65F02;
	margin-top: 7px;
}

.categories td.category {
	padding-right:3px;
	padding-bottom:3px;
}

.category .label {
}

label.label-open {
	/*margin-left:25px;*/
	float:left;
	margin-right:5px;
}

div.open {
	float:left;
}

table.array {
	border-bottom:1px #666666 dotted;
	border-spacing:0;
}

table.array tr.ui-widget-header th.obiba-quartz-category {
	color:#666666;
	padding:6px 10px 10px;
	font-weight: normal;
	text-align:center;
	/*width: 100px;*/
}

table.array tr.even {
	background-color:#FFFFFF;
	color:#666666;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}

table.array tr.odd {
	color:#666666;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}

table.array td.label {
	border-top: 1px #666666 dotted;
	height: 23px;
	color:#666666;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
	width: 270px;
}

table.array td.category {
	text-align:center;
	border-top: 1px #666666 dotted;
}

div.page div.question div.categories div.category {
	padding-bottom:5px;
}

.radio-open {
	/*display: none;*/
}

.obiba-quartz-checkbox-category:first-child {
	padding-left: 21px;
}

.obiba-quartz-checkbox-category {
	width: 114px;
	padding-bottom: 3px;
}

.categories .even:first-child > td.obiba-quartz-checkbox-category{
	padding-top:11px;
}

.checkbox-open {
}

.obiba-quartz-dropdown-category:first-child {
	padding-top:9px;
}

.obiba-quartz-dropdown-category {
	padding-bottom:5px;
	padding-left:7px;
}

div.field-invalid {
	border-left:3px solid red;
	padding-left:5px;
}

input.field-invalid {
	background: #FFB6C1;
}