/*
* Default Questionnaire elements stylesheet.
*/

.questionnaire-form-data {
	border-bottom: 2px solid #ccc;
	overflow:auto;
	margin-bottom:10px;
}

.page {
	font: normal 18px arial, sans-serif;
	color: #000;
}

.section {
	font-weight: bold;
	font-size: larger;	
	padding-bottom:10px;
}

.page > div.label {
	line-height:1.4;
}

.questions {
	padding-bottom:10px;
}

.boilerplate {
	line-height:1.4;
	text-align: center;
}

.question {
}

.question > div.label {
	background:#DBE7ED none repeat scroll 0 0;
	border-bottom: 2px solid #999999;
	font-weight: bold;
	padding:5px;
}

.instructions {
	color:#999999;
	font-size:14px;
	font-weight:bold;
	padding:10px;
}

.caption {
	padding-left:15px;
	padding-bottom:5px;
}

.specifications {
	padding-bottom:5px;
	padding-top:5px;
}

.categories {
	
}

.open {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.regular {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.escape {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

/***************
 Buttons
****************/

a.button {
    display: block;
    overflow:hidden;
    margin-bottom:10px;
    text-decoration: none;
	color: #000;
    background: transparent url('../icons/button_gray_full.png') no-repeat scroll top right;
}

a.button .label {
    display: block;
    padding-top: 7px;
    padding-left: 18px;
    padding-right: 18px;
    background: transparent url('../icons/button_gray_top-left.png') no-repeat;
}

a.button .description {
    font: 12px;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    background: transparent url('../icons/button_gray_middle-left.png') no-repeat;
}

a.button .foot {
    display: block;
    background: transparent url('../icons/button_gray_bottom-right.png') no-repeat scroll top right;
}

a.button .foot-left {
    display: block;
    padding: 5px 0 5px 18px;
    background: transparent url('../icons/button_gray_bottom-left.png') no-repeat;
}

/***************
 Category Buttons
****************/

.category.selected a.button {
	color: #fff;
    background: transparent url('../icons/button_orange_full.png') no-repeat scroll top right;
}

.category.selected a.button .label {
    background: transparent url('../icons/button_orange_top-left.png') no-repeat;
}

.category.selected a.button .description {
    background: transparent url('../icons/button_orange_middle-left.png') no-repeat;
}

.category.selected a.button .foot {
    background: transparent url('../icons/button_orange_bottom-right.png') no-repeat scroll top right;
}

.category.selected a.button .foot-left {
    background: transparent url('../icons/button_orange_bottom-left.png') no-repeat;
}

/***************
 Category Open
****************/

.categories .open .category {
	text-align:center;
}

.categories .open .category .value {
	border: solid 1px #aaa;
	height:30px;
	font-size: 18px;
	line-height:1.6;
}

.categories .open .category a.button {
	font-size:10px;
	margin-top:5px;
	text-transform:uppercase;
}

/*****************
 Category Regular
******************/

.regular > table {
	width:100%;
}

.category .regular a.button {
    margin-right: 6px;
}

/*****************
 Category Escape
******************/

.escape > table {
	width:100%;
}

.category .escape a.button {
    margin-right: 6px;
}

/*****************
 Category Array
******************/

table.array {
	margin-left:auto;
	margin-right:auto;
}

.array .label {
	text-align:right;
	vertical-align: middle;
	padding-right: 10px;
}

.array .headers .category {
	font-size:14px;
	text-align:center;
}

.array .category {
	width: 80px;
	padding-right:10px;
}

.clear {
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
	padding-top:20px;
	width:120px;
	text-align:center;
}
