body {
  text-align: left;
  background: url(../icons/background_tile.png) repeat;
  font-family: arial, verdana, sans-serif;
  font-size:12px;
  color: #666666;
  margin: 0pt; 
  padding: 0pt; 
  overflow: hidden; 
  position: relative; 
  height: 100%;
}

input, select, textarea {
    border: solid 1px #cccccc;
}

A:link {
	COLOR: #D85D03; text-decoration: none;
}
A:visited {
	COLOR: #D85D03; text-decoration: none;
}
A:active {
	COLOR: #D85D03; text-decoration: none;
}
A:hover {
	COLOR: #375FB7; text-decoration: underline;
}

.required {
	/*background: #FFB6C1;*/
	/*background-image:url(../images/icons/16X16/warning.gif);
	background-position:top right;
	background-repeat:no-repeat;*/
}

.toggler {
	cursor:pointer;
	vertical-align:middle;
}

.subLegend {
  border-style: none;
  background: white;
  font-size: 10px;
  color: #00008B;
}

div.banner {
	margin-top: 4px;
	margin-right: 10px;
}

#pageWrapper {
  margin-left: auto; 
  margin-right: auto;
  width: 1000px;
  text-align: left;
  background-color:#FFFFFF;
  border: 1px solid #AFBBC5;
}

#popupWrapper {
  margin-left: auto; 
  margin-right: auto;
  text-align: left;
  font-size: 12px;
}

#pageHeader1 {
    color: #000000;
	width: 100%;
	float: left;
	text-align: right;
	font-size: 11px;
}

#logo {
  float: left;
  margin-left: 50px;
  margin-top: 8px;
}

#pageHeader2 {
	height: 59px;
	background-image: url('../images/genome_banner-repeat.png');
	background-position: left top;
}

#pageHeader a {
  color: #000000;
  text-decoration: none;
}

#userLogged{
	float:right;
	padding-top:70px;
	padding-right:39px;
	color:#FFFFFF;
	font-weight:bold;
}
#pageHeader h1 {
  margin: 0px;
  padding-top:30px;
  padding-left:25px;
  font-family: verdana, arial, sans-serif;
  font-size:32px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #FFFFFF;
}

#pageHeader h2 {
  margin: 0px;
  padding-left:25px;
  padding-top:65px;
  font-family: verdana, arial, sans-serif;
  font-size:13px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #00CAA4;
}

#menuBar {
  color: #FFFFFF;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#menuWrapper {
  margin-left: auto;
  margin-right: auto;
}

#menuBar .obiba-menu .obiba-menu-item {
  background-color: #888888;
  color: #C0C0C0 !important;
  margin: 0 2px 0 2px;
  padding: 0.4em 1em;
}

#menuBar .obiba-menu .obiba-menu-item.ui-state-highlight {
  background-color: #C65F00;
  color: #FFFFFF !important;
}

#menuAddOns{
	padding-top:1px;
	float:right;
	font-size:11px;
	margin-right:15px;
}

#menuAddOns form{
	padding:0px;
	margin:0px;
	padding-left:5px;
	display:inline;
}

#contentWrapper {
  margin-left:15px;
  margin-right:15px;
  clear:both;
  font-size: 12px;
}


#contentWrapper td.keyValueTableValue,
#contentWrapper td.keyValueTableValueEven,
#contentWrapper td.keyValueTableValueOdd {
	padding-left:10px;
}

.base-ajax-indicator {
	background-color: #E97723;
	color: #ffffff;
	padding: 5px;
	position: fixed;
	right:0;
	top:0;
	border:thin solid #B22807;
}

div#leftColumn {
  margin-top:5px;
  float: left;
  width:145px;
  border:0px dashed #cccccc;
  font-size: 11px;
  color: #000000;
}

div#leftColumn h1 {
  margin-top:0px;
  margin-bottom:10px;
  font-size: 14px;
  color: #666666;
  padding:4px;
  border: 1px solid #cccccc;
  background-color:#FDFDEB;
}

div#leftColumn h2 {
  margin-top:0px;
  margin-bottom:10px;
  font-size: 14px;
  color: #666666;
  padding:4px;
  border: 1px solid #cccccc;
  background-color:#FDFDEB;
}

div#leftColumn h3 {
  margin-top:0px;
  margin-bottom:10px;
  font-size: 14px;
  color: #666666;
  padding:4px;
  border: 1px solid #cccccc;
  background-color:#FDFDEB; /*F6F8FF F9FBFD*/
}

div#leftColumn p {
  margin-top:0px;
  margin-bottom:15px;
  font-family: verdana, arial, sans-serif;
  color: #000000;
  line-height: 16px;
  padding-left:4px;
  text-align:justify;
}

div#centerColumn {
  float: left;
  width:610px; /*450 px when having 3 columns layout*/
  background-color: #FFFFFF;
  border:0px dashed #cccccc;
  font-size: 12px;
  margin-left: 25px;
}

div#centerColumn h1 {
  margin-top:0px;
  margin-bottom:10px;
  font-family: verdana, arial, sans-serif;
  font-size: 22px;
  color: #CC3300;
  background-color:#FFFFFF;
  padding:4px;
  border-bottom: 1px solid #666666;
  clear:both;
}

div#centerColumn h2 {
  margin-top:15px;
  margin-bottom:10px;
  font-family: verdana, arial, sans-serif;
  font-size: 20px;
  color: #CC3300;
  background-color:#FFFFFF;
  padding:4px;
  border-bottom: 1px solid #666666;
  clear:both;
}

div#centerColumn h3 {
  margin-top:15px;
  margin-bottom:10px;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
  color: #CC3300;
  background-color:#FFFFFF;
  padding:4px;
  border-bottom: 1px solid #666666;
  clear:both;
}

div#centerColumn p {
  margin-top:0px;
  margin-bottom:15px;
  font-family: verdana, arial, sans-serif;
  color: #666666;
  line-height: 18px;
  padding-left:4px;
  text-align:justify;
}

div#feedback {
	text-align:left;
	margin:0 !important;
	padding:0 !important;
}
div#feedback ul {
  text-align: left;
  /*width:600px;
  background-color: #F6FCEC;
  border:1px solid #336799;*/
  padding:10px;
  /*padding-left: 40px;*/
 /* margin-top:10px;
  margin-bottom:5px;
  margin-right:8px;*/
  list-style-type:none;
  
}
div#feedback ul li{
  list-style-type:none;
}
.floatLeft {
  float: left;
  margin-right: 10px;
}

.floatRight {
  float: right;
  margin-left: 10px;
}

.messageBox {
  text-align: left;
  width:300px;
  background-color: #E1E3E5;
  padding:3px;
  margin:2px;
  /*border:1px solid #336799;
  padding:10px;
  margin-top:10px;
  margin-bottom:5px;
  margin-right:8px;*/
  font-size:12px;
  width:97%;
  height:97%;
text-align:center;
  
}

#featureBox {
  float:left;
  width:250px;
  background-color: #F6FCEC;
  border:1px solid #AAE5A4;
  padding:10px;
  margin-top:10px;
  margin-bottom:5px;
  margin-right:8px;
}

#featureBox h4 {
  padding-left:5px;
  margin-top:0px;
  margin-bottom:5px;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  color: #779E28;
}

#featureBox p {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #555555;
  line-height: 16px;
  margin-bottom:5px;
}

#pageFooter {
  clear: both;
  color: #000000;
  height: 30px;
}

#pageFooter > div {
  font-size: 11px;
  letter-spacing: 1px;
  margin-right: 16px;
  text-align: right;  
}

#pageFooter > div#currentUser {
  float: left; margin-left: 16px;
}

#pageFooter > div#currentVersion {
  float: right;
}


#spacer {
  height:30px;
  clear:both;
}

.arrowList { 
  margin-left: 10px;
  padding-left: 0;
  list-style: none;
} 

.arrowList ul { 
  padding-left: 0px;
  margin-left:0px;
  list-style:none;  
}

.arrowList li { 
  padding-left: 10px;
  background-image: url(../images/menu-bullet.png);
  background-repeat: no-repeat;
  background-position: 0 7px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height:18px;
}

/*************** Wicket Autocomplete ********************/

div.wicket-aa {
  font-size: 10px;
  background-color: white;
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  padding: 2px;
  margin: 1px 0 0 0;
  text-align:left;
}
div.wicket-aa ul { list-style:none; padding: 2px; margin:0; }
div.wicket-aa ul li.selected { background-color: #FFFF00; padding: 2px; margin:0; }

/*************** End Wicket Autocomplete ********************/

/*************** Dialog ********************/

.centeredHorizontally {
  text-align: center;
}

.smallTopMargin {
  margin-top: 10px;
}

.largeTopMargin {
  margin-top: 30px;
}

.dialogContent {
  margin-left: 10px;
  margin-right: 10px;
}

.dialogIcon {
  float: left;
}

.dialogMessage {
  padding-left: 35px;
}

.dialogMessage p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.dialogButtons ul {
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.dialogButtons ul li {
  display: inline;
}

.progressBar {
  padding-top: 5px;
}

.obiba-content{
  font-size:11px;
}

/*************** End Dialog ********************/

/*************** Wizard ********************/

.form-data {
  overflow:auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form-button {
  border-top:1px solid #C65F02;
  height: 40px;
  margin-left:20px;
  margin-right:20px;
  padding-left:10px;
  padding-right:10px;
  padding-top:20px;
}

.form-button .obiba-nav-left {
	float: left;
}

.form-button .obiba-nav-right {
	float: right;
}

.wizard-title {
  padding-top:20px;
  font-weight: bold;
}

.wizard-content {
  padding-top: 20px;
  margin-top:0px;
  margin-bottom:0px;
}

/*************** End Wizard ********************/

/*************** Entity Table ********************/

table.entityTable {
  /*border-width: 1px;
  border-style: solid;
  border-color: #375FB7;
  padding:1px;*/
  border-spacing: 0px;
  width:100%;
}

table.entityTable tr.titleToolbar {
  /*color: #F6F8FF;
  background-color: #375FB7;
  border-color: #375FB7;
  border-width: 1px;
  border-style: solid;*/
  font-weight: bold;
  padding: 3px;
}

table.entityTable tr.odd {
  background-color: #ECECEC;
}

table.entityTable tr.navigation {
  color:#999999;
  font-family:arial;
  font-size:12px;
}

table.entityTable .navigator a {
  color: #AFBBC5
}

table.entityTable .navigator em {
  font-weight: bold
}

table.entityTable th {
  border-bottom:1px solid #C65F02;
  font-family:arial;
  font-size:11px;
  font-weight:bold;
  padding:3px;
  color:#999999;
}

table.entityTable th a:link {
  color:#999999;
}

table.entityTable th.wicket_orderUp {
  padding-right:15px;
  background-image: url(../images/up.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

table.entityTable th.wicket_orderDown {
  padding-right:15px;
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position: 95% 50%;
}

table.entityTable td {
  color:#333333;
  font-family:arial;
  font-size:11px;
  font-weight:bold;
  padding:3px;
}

table.entityTable td A {
  color: #333333;
  padding-right: 12px;
  text-decoration: underline;
}

table.entityTable td A img {
  border:none;
}

/*************** End Entity Table ********************/

/*******************KEY VALUE TABLE LAYOUT************************************/

table.keyValueTable {
	/*border-width: 1px;
	border-style: solid;
	border-color: #666666;
	padding:1px;
	width:500px;*/
}

td.keyValueTableHeader {
	font-weight: bold;
	color: #F6F8FF;
	background-color: #888888;
	border-bottom: 1px solid #FFFFFF;
	padding: 3px;
	text-align: left;
}

td.keyValueTableKey {
	width:75px;
	color: #666666;
	background-color: #FFFFFF;
	text-align: left;
}

td.keyValueTableKeyIndent {
	/*width:30%;*/
	color: #666666;
	background-color: #FFFFFF;
	padding: 2px 5px 2px 15px;
	text-align: left; 
}

td.keyValueTableValue,
td.keyValueTableValueEven,
td.keyValueTableValueOdd {
	color: #000000;
	background-color: #FFFFFF;
	font-weight: bold;
	font-size:12px;
	text-align: left;
	padding-left:10px;
}

td.keyValueTableValue input, td.keyValueTableValue select,
td.keyValueTableValueEven input, td.keyValueTableValueEven select,
td.keyValueTableValueOdd input, td.keyValueTableValueOdd select {
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
}

td.keyValueTableValue input{
	width: 217px;
}

td.keyValueTableValue select{
	width: 220px;
}

/*******************END KEY VALUE TABLE LAYOUT********************************/

table.gertTable {
	border-width: 1px;
	border-style: solid;
	border-color: #375FB7;
	padding:1px;

}

td.gertTableDataHeader {
	font-weight: bold;
	color: #F6F8FF;
	background-color: #375FB7;
	border-width: 1px;
	border-style: solid;
	border-color: #375FB7;
	padding: 3px;

}

td.gertTableDataKey {
	width:30%;
	color: #003366;
	font-weight:bold;
	background-color: #AAAAAA;
	padding-right: 5px;
	padding-left: 5px;
	padding-top:2px;
	padding-bottom:2px;
	border-bottom: 1px solid #FFFFFF; 
}

td.gertTableDataKeyIndent {
	width:30%;
	color: #003366;
	font-weight:bold;
	background-color: #AAAAAA;
	padding-right: 5px;
	padding-left: 15px;
	padding-top:2px;
	padding-bottom:2px;
	border-bottom: 1px solid #FFFFFF; 
}

td.gertTableFormKey {
	color: #003366;
	background-color: #E1E3E5;
	padding: 3px;
	text-align: right;
}

td.gertTableDataValue {
	color: #003366;
	background-color: #ffffff;
}

td.gertTableFormValue {
	color: #003366;
	background-color: #E1E3E5;
	padding: 5px;
}

td.gertTableDataValueEven {
	color: #003366;
	background-color: #ffffff;
	padding-right: 5px;
	padding-left: 5px;
}

td.gertTableFormValueEven {
	color: #003366;
	background-color: #ffffff;
	padding: 5px;
}

td.gertTableDataValueOdd {
	color: #003366;
	background-color: #E1E3E5;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #FFFFFF; 
}

td.gertTableFormValueOdd {
	color: #003366;
	background-color: #E1E3E5;
	padding: 5px;
}
/*

div.gertTab div.tab-row ul {
    height: 20px;
    margin: 0;
    padding-left: 10px;
    /*background: url( tabs4/tab_bottom.gif ) repeat-x bottom;*/
/*}

div.gertTab div.tab-row li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.gertTab div.tab-row a:link, div.gertTab div.tab-row a:visited {
    float: left;
    background: #003366;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #003366;
    text-decoration: none;
    color: #c1cedd;
}

div.gertTab div.tab-row li.selected a:link, div.gertTab div.tab-row a:visited.active {
    border-bottom: 1px solid #375FB7;
    background: #375FB7;
    color: #F6F8FF;
    font-weight: bold;
}

div.gertTab div.tab-row a:hover {
    background: #375FB7;
}

div.gertTab div.tab-panel {
	/*border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #003366;*/
/*}*/

div.tab-panel {
	clear:both;
}

.requiredField {
	color: #ff0000;
	padding-left:5px;
}

.feedbackPanelERROR {
	color: #ff0000;
}
li.feedbackPanelERROR {
    background-image:url(../images/icons/16X16/error.gif);
	background-position:top left;
	background-repeat:no-repeat;
	padding-left:24px;
	padding-bottom:4px;
	list-style-type:none;
}
li.feedbackPanelWARNING{
	background-image:url(../images/icons/16X16/warning.gif);
	background-position:top left;
	background-repeat:no-repeat;
	padding-left:24px;
	padding-bottom:4px;
	list-style-type:none;
}
li.feedbackPanelINFO{
	background-image:url(../images/icons/16X16/information.gif);
	background-position:top left;
	background-repeat:no-repeat;
	padding-left:24px;
	padding-bottom:4px;
	list-style-type:none;
}
.indent{
	padding-left:25px;
}
form {
	padding:0;
	margin:0;
}
/*************************************************eddition styles**************************************/
.addTubeBtn{
	background-image:url(../images/icons/24X24/box_add.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.closeLotBtn{
	background-image:url(../images/icons/24X24/box_preferences.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.openLotBtn{
	background-image:url(../images/icons/24X24/box.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.reportLotBtn{
	background-image:url(../images/icons/24X24/document_notebook.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.infoLotBtn{
	background-image:url(../images/icons/24X24/information2.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.addUserBtn{
	background-image:url(../images/icons/24X24/user1_add.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.deleteParticipantBtn{
	background-image:url(../images/icons/24X24/user1_delete.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.deleteParticipantDerivedBtn{
	background-image:url(../images/icons/24X24/tube_delete.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}
.navNextBtn{
	background-image:url(../images/icons/24X24/nav_right_blue.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-top:6px;
	padding-bottom:6px;
	background-position:right;
}
.editableField{
	background-image:url(../images/icons/16X16/pencil.gif);
	background-position:right;
	background-repeat:no-repeat;
	display:block;
	padding-right:18px;
	text-decoration:none !important;
}

.deleteBtn{
	background-image:url(../images/icons/24X24/delete2.gif);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	padding-left:30px;
    margin-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-position:left;
}

/******************* Tab Layout ************************************************/
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
    
div.tab-row{
float:left;
width:100%;
font-size:90%;
line-height:normal;
/*border-bottom: 1px solid #375FB7;*/ /*Add border strip to bottom of menu*/
}

div.tab-row ul{
list-style-type: none;
margin:0;
margin-left: 5px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

div.tab-row li{
display:inline;
margin:0;
padding:0;
}

div.tab-row a{
float:left;
background-image:url(../images/tabs/glowtab-left2.gif);
background-repeat: no-repeat;
background-position:left top;
text-decoration:none;
margin:0;
margin-right: 5px; /*spacing between each tab*/
padding:0 0 0 9px;
text-decoration:none;
}

div.tab-row a span{
float:left;
display:block;
background:url(../images/tabs/glowtab2.gif) no-repeat right top;
padding: 8px 12px 6px 3px;
color:#FFFFFF;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.tab-row a span {float:none;}
/* End IE5-Mac hack */

div.tab-row a:hover span {
color:#FFFFFF;
}

div.tab-row .selected a{ /*Selected Tab style*/
background-position:0 -82px; /*Shift background image up to start of 2nd tab image*/
text-decoration:none;
}

div.tab-row .selected a span{ /*Selected Tab style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
color:#FFFFFF;
font-weight:bold;
}

div.tab-row a:hover{ /*onMouseover style*/
background-position:0% -82px; /*Shift background image up to start of 2nd tab image*/
text-decoration:none;
}

div.tab-row a:hover span{ /*onMouseover style*/
background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
}

.maxWidthTextArea {
	width: 100%;
}

/******************* End Tab Layout ************************************************/

/******************* Stage Layout **************************************************/

.stage {
  	padding: 0px;
}

.stage .ui-layout-center {
 	
}

/******************* End Stage Layout **********************************************/

/******************* Centering *****************************************************/
/* http://www.jakpsatweb.cz/css/css-vertical-center-solution.html */

.obiba-center-vertical-outer {
	overflow: hidden;
	display: table;
	position: static;
}

.obiba-center-vertical-outer.obiba-center-vertical-outer-page {
	overflow: visible;
	height: 100%;
}

.obiba-center-vertical-middle {
	display: table-cell;
	vertical-align: middle;
	position: static;
}

.obiba-center-horizontal {
	margin-left: auto;
	margin-right: auto;
}

/******************* End Centering *************************************************/

/******************* Boxing ********************************************************/

.obiba-box {
	background-color:#FFFFFF;
	border:3px solid #C65F02;
}

.obiba-box-content {
	padding: 18px 20px;
}

/******************* End Boxing ****************************************************/

/******************* Login *********************************************************/

#login {
	width: 575px;
}

#loginHeader {
	border-bottom: 1px solid #C65F02;
	margin-bottom: 10px;
}

#loginHeader > img {
    padding-bottom: 10px;
}

#loginFooter {
	border-top: 1px solid #888888;
	margin-top: 10px;
}

#loginFooter p {
	font-family:verdana,arial,sans-serif;
	font-size:11px;
	letter-spacing:1px;
	text-align:center;
}

/******************* End Login *****************************************************/

/******************* Content Region ************************************************/

.obiba-content-region {
  background-color: #FFFFFF;
  border-color: #B8B8B8;
  border-style: solid;
  border-width: 1px;
  padding: 0px 14px 36px;
}

.obiba-content-region.ui-corner-all {
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;	
}

.obiba-content-region > h1 {
  border-color: #C65F02;
  border-style: none none solid none;
  border-width: 1px;
  color: #C65F02;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: 7px;
  padding-bottom: 1px;
}

.obiba-content-region > h1.results-list {
  margin-bottom:0px;
}

.obiba-content-region h2, h2 {
  border-color: #666666;
  border-style: none none solid none;
  border-width: 1px;
  color: #666666;
  font-size: 11px;
  margin-bottom: 15px;
  padding-bottom: 1px;
  margin-top:17px;
}

.h2-short {
	width:453px;
}

.h2-short span {
  font-weight: bold;
  font-size: 12px;
}

/******************* End Content Region ********************************************/

/******************* Buttons *******************************************************/

.obiba-button, 
A:link.obiba-button,
A:visited.obiba-button,
A:active.obiba-button,
A:hover.obiba-button {
  background-color: white;
  border-color: #B8B8B8;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  color: #000000;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
}

.obiba-button.ui-state-disabled, 
A:link.obiba-button.ui-state-disabled,
A:visited.obiba-button.ui-state-disabled,
A:active.obiba-button.ui-state-disabled,
A:hover.obiba-button.ui-state-disabled {
  color: #B8B8B8;
}

A:link.obiba-button,
A:visited.obiba-button,
A:active.obiba-button,
A:hover.obiba-button {
  padding: 3px 5px 2px 5px;
  text-decoration: none;
}

button.obiba-button,
input.obiba-button {
  padding: 2px 5px 1px 5px;	
}

img.obiba-button {
  padding: 2px 3px 3px 3px;	
}

.obiba-button.ui-corner-all {
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
}

/******************* End Buttons ***************************************************/

/******************* Miscellaneous *************************************************/

.obiba-scrollable {
  overflow: auto;
}

.obiba-feedback ul {
  height: 120px;
  overflow: auto;
}

/******************* End Miscellaneous *********************************************/

/******************* ParticipantSearchPage *****************************************/

#participantSearchPageContent.obiba-box-content {
  padding: 7px 9px;
}

#participantSearchPageContent > table {
  border-spacing: 10px;
  width: 100%;
}

#participantPageSearch,
#participantPageActions {
  height: 95px;
}

#participantPageSearch #searchByInputField.obiba-button {
  background-image: url(../icons/loupe_button.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 3px 9px 2px;
}

#participantPageSearch #searchByInputField.obiba-button::-moz-focus-inner {
  border: none;	
}

#participantPageActions #enrollAndUpdateActions {
  float: left;
  margin-top: 5px;
}

#participantPageActions #enrollAndUpdateActions > div:first-child {
  margin-bottom: 15px;
}

#participantPageActions #enrollAndUpdateActions > div:empty {
  margin-bottom: 0px !important;
}

#participantPageActions #exportAction {
  float: right;
  margin-top: 5px;
}

span.interviewStatus {
  padding-left:12px;
  background-position:0 53%;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-color:transparent;
}

span.interviewStatus.obiba-state-inprogress {
  background-image:url(../icons/progress.png);
}

span.interviewStatus.obiba-state-cancelled {
  background-image:url(../icons/cancelled.png);
}	

span.interviewStatus.obiba-state-completed {
  background-image:url(../icons/completed.png);
}

div#participantPageSearchResults #newNavigatorLabel {
  float: right; 
  position: relative;
  right: 10px;
  top: 6px;
  color:#333333;
  font-family:arial;
  font-size:11px;
}

div#participantPageSearchResults #newNavigator {
  float: right; 
  position: relative;
  right: 0px; 
  top: 6px;
  color:#333333;
  font-family:arial;
  font-size:11px;  
}

div#participantPageSearchResults #newNavigator a {
  color:#333333;
}

div#participantPageSearchResults #newNavigator em {
  font-style:normal;
  font-weight:bold;
}

/******************* End ParticipantSearchPage *************************************/

/******************* ParticipantReceptionPage **************************************/

#participantReceptionPageContent #participantAndBarcodeAssignmentWrapper {
  overflow: auto;
}

#participantReceptionPageContent td.keyValueTableKey,
#participantReceptionPageContent td.keyValueTableKeyIndent,
#assignCodeToParticipant tr > td:first-child {
  width: 186px;
  vertical-align:top;
}

#assignCodeToParticipant td {
  //padding: 2px 5px;
}

#participantReceptionPageContent .obiba-footer {
  border-top: 1px solid #C65F02;
  padding-top: 10px;
}

#participantReceptionPageContent .obiba-footer > .obiba-footer-content {
  float: right;
}
 
/******************* End ParticipantReceptionPage **********************************/

/******************* Global List Styling *******************************************/

#participantPageSearchResults table.entityTable tr.titleToolbar,
#interviewPageStages table.entityTable tr.titleToolbar,
#rubyPanel table.entityTable tr.titleToolbar {
  display: none;	
}

#participantPageSearchResults.obiba-content-region > h1,
#interviewPageStages.obiba-content-region > h1 {
  margin-bottom: 0px;	
}

/******************* End Global List Styling ***************************************/

/******************* InterviewPage *************************************************/

#interviewPageContent.obiba-box-content {
  padding: 7px 9px;
}

#interviewPageContent > table {
  border-spacing: 10px;
  width: 100%;	
}

#interviewPageParticipantContainer,
#interviewPageInterviewContainer {
  width: 30%;	
}

#interviewPageParticipant,
#interviewPageInterview,
#interviewPageLog {
  height: 105px;
}

#interviewPageParticipant td.keyValueTableKey,
#interviewPageInterview td.keyValueTableKey {
  background-color: #FFFFFF;
  font-weight: regular;
  padding-right: 0px;
  padding-left: 0px; 
}

#interviewPageParticipant td.keyValueTableValueEven,
#interviewPageParticipant td.keyValueTableValueOdd,
#interviewPageInterview td.keyValueTableValueEven,
#interviewPageInterview td.keyValueTableValueOdd {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
}

#interviewPageParticipant.obiba-content-region > h1,
#interviewPageInterview.obiba-content-region > h1,
#interviewPageLog.obiba-content-region > h1 {
  margin-bottom: 10px;	
}

#interviewPageLog #viewCommentsIconLink {
  color: #FFFFFF;
  position: relative;
  top: 4px;
}

#interviewPageLog div {
  margin-bottom: 15px;
}

#interviewPageStages table.entityTable tr > th:first-child,
#interviewPageStages table.entityTable tr > td:first-child {
  text-align: right;
  width: 4%;  
}

#interviewPageStages td > span.obiba-state {
  padding-left: 14px;
}

#interviewPageStages td > span.obiba-state.obiba-state-waiting {
  color: #999999;
}

#interviewPageStages td > span.obiba-state.obiba-state-contraindicated {
  background: url('../icons/cancelled.png') no-repeat center left;
}

#interviewPageStages td > span.obiba-state.obiba-state-ready {
  background: url('../icons/arrow_green.png') no-repeat center left;
}

#interviewPageStages td > span.obiba-state.obiba-state-inprogress {
  background: url('../icons/progress.png') no-repeat center left;
}

#interviewPageStages td > span.obiba-state.obiba-state-interrupted {
  background: url('../icons/arrow_yellow.png') no-repeat center left;
}

#interviewPageStages td > span.obiba-state.obiba-state-completed {
  background: url('../icons/completed.png') no-repeat center left;
}

#interviewPageStages td > span.obiba-state.obiba-state-skipped {
  background: url('../icons/cancelled.png') no-repeat center left;
}

#interviewPageStages table.entityTable {
  border-bottom:1px solid #C65F02;
}

#interviewPageStages #exitInterview {
  position:relative;
  text-align:center;
  top:18px;  
}

ul#interviewMenuBar li {
 width:200px;
}

ul#interviewMenuBar li > div {
  padding-left:63px !important;
}

ul#interviewMenuBar li a {
  bottom:2px;
  display:inline;
  font-size:14px;
  left:21px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  position:relative;
}

ul#interviewMenuBar li a span {
  font-size: 12px;
  padding-right:5px;
}

#interviewPageStages #exitInterview a.obiba-button:link, #interviewPageStages #exitInterview a.obiba-button:visited, #interviewPageStages #exitInterview a.obiba-button:active, #interviewPageStages #exitInterview a.obiba-button:hover {
  padding:3px 50px 2px;
}

#commentInstructions, .comment-text {
  color: #000000;
  font-weight: bold;	
}

.comment-text {
    height:288px;
    width:329px;
    overflow: auto;
}

/******************* End InterviewPage *********************************************/

#commentIcon, #logIcon {
  margin-right: 5px;
  border-style: none;
}

.log-comment {
  white-space: normal;
  padding-right: 20px;
 }
 
/******************* Sample Collection *********************************************/
 
#rubyPanel #wizardContent {
  padding-left:0px;
  padding-right:0px;
  margin:20px 20px 0;
  border:1px solid #C65F02;
}

#rubyPanel #wizardContent table.entityTable td {
  font-weight:normal;
  padding:6px !important;  
}

#rubyPanel #wizardContent table.entityTable th {
  border-top:1px solid #CCCCCC;
  padding-left:8px;  
}

#rubyPanel #wizardContent #tubeBarcodePanel {
  border-top:1px solid #C65F02;
  padding:8px;  
}

#rubyPanel #wizardContent  #tubeBarcodePanel > div {
  display: inline; 
}

#rubyPanel #wizardContent  #tubeBarcodePanel > div {
  display: inline; 
}

#rubyPanel #wizardContent  #tubeBarcodePanel #feedbackPanel {
  width:230px;
  display:table-cell;
}

#rubyPanel #wizardContent  #tubeBarcodePanel #feedbackPanel > span {
  display: table-cell; 
  background:transparent url(../icons/completed.png) no-repeat scroll 165px center; 
  width:230px;  
}

#rubyPanel #wizardContent #tubeBarcodePanel li {
  background-image:none;
  padding:0px;  
}

#rubyPanel #wizardContent #tubeBarcodePanel ul {
 padding:0px;
 margin-bottom:0px;
 margin-top:0px !important; 
}

#rubyPanel #wizardContent .wizard-content {
  padding-top:0px;
}

#rubyPanel #wizardContent .wizard-content table:first-child {
  border-spacing:0px;
}

#rubyPanel #wizardContent .wizard-content table:first-child td:first-child {
  padding: 0px;
}

#rubyPanel #wizardContent .wizard-title {
  padding-bottom:8px;
  padding-top:8px;
  padding-left:10px;  
}

#rubyPanel #wizardFooter {
  border-top:0px;
}

#tubesScannedLabel {
  font-weight:bold;
  padding-right:25px;
  display:inline;  
}

#anonymousComments {
  margin:0px;
  padding:0 30px; 
  font-weight:normal;
}

#editSamplePanel {
  height:355px;
}

#editSamplePanel #barcodeParts {
    height:80px
}

#editSamplePanel textarea {
  width:289px;
}

#editSamplePanel select {
  width:291px;
}

#editSamplePanel table td {
  vertical-align:top;
  padding-top:5px;
}

#editSamplePanel table td > div {
  width:60px;
}

#editSamplePanel #barcodeParts {
  height:70px;
  margin-left:-4px;
  margin-top:-6px;  
  width:358px;
  overflow-y:auto;
}
 
#editSamplePanel #barcodeParts td {
  height:20px;
  width:61px;  
}

#editSamplePanel .value{
  font-weight:bold;
  font-size:12px;
  color:#000000;
}

#editSamplePanel select option {
  font-weight:bold;
  font-size:12px;
}
/******************* End Sample Collection *********************************************/
