.explain {
	margin-top: -20px;
}

.explain li {
	margin-bottom: 8px;
}

.explain .title {
	font-weight: bold;
}

.explain .section {
	background: transparent url('${sectionImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 1px 0 1px 20px;
}

.explain .page {
	background: transparent url('${pageImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 1px 0 1px 20px;
}

.explain .question {
	background: transparent url('${questionImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 1px 0 1px 20px;
}

.explain .variable {
	background: transparent url('${variableImgUrl}') no-repeat scroll 0 0;
	height: 16px;
	padding: 1px 0 1px 20px;
}

.questionTypeList img {
	vertical-align: bottom;
	cursor: pointer;
}