<?xml version="1.0" encoding="UTF-8"?>
<jnlp
    spec="1.6+"
    codebase="${codebaseUrl}">
  <information>
    <title>$project.name</title>
    <vendor>Obiba</vendor>
#if($offlineAllowed)
    <offline-allowed/>

#end
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <j2se version="$j2seVersion" java-vm-args="-Xmx1G"/>
    <extension href="../bootstrap/launch.jnlp"/>
     $dependencies.replaceAll("<jar .* main=\"true\"/>", "").replaceAll("<jar href=\"(.*-win32.jar)\"", "<nativelib href=\"$1\"")
  </resources>
  <application-desc main-class="org.obiba.onyx.jade.client.JnlpClient">
    <argument><![CDATA[__config__]]></argument>
  </application-desc>

</jnlp>

